.about {
  background-color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 120%;

  @media only screen and (min-width:$screen-sm) {
    font-size: 1.2em;
  }
}

h2,
p {
  color: white;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  padding-left: 20px;
  padding-right: 20px;
  cursor: default;
  text-align: center;
}
