.about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 20px;
  font-size: 120%;

  @media only screen and (min-width:$screen-sm) {
    font-size: 1.2em;
  }
}

h2,
p {
  color: white;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  padding-left: 20px;
  padding-right: 20px;
  cursor: default;
  text-align: center;
}
