@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* about */
.about {
  background-color: black;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 120%;

  @media only screen and (min-width:$screen-sm) {
    font-size: 1.2em;
  }
}

h2,
p {
  color: white;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  padding-left: 20px;
  padding-right: 20px;
  cursor: default;
  text-align: center;
}

/* footer */
.footer {
  background: $main;
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: #FFF;

  a {
    text-decoration: none;
    margin: 0;
    color: $main;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}

.footer-signature {
  margin: 2em 0;
  text-align: center;
  font-weight: 600;
  color: #e1e1e1;
}
/* transitions */
@-webkit-keyframes pulse {
  from {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
      filter: alpha(opacity=40);
      opacity: .4;
      top: 0;
  }
  50% {
      -ms-filter: none;
      -webkit-filter: none;
      filter: none;
      opacity: 1;
      top: -10px;
  }
  to {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
      filter: alpha(opacity=40);
      opacity: .4;
      top: 0;
  }
}

@keyframes pulse {
  from {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
      filter: alpha(opacity=40);
      opacity: .4;
      top: 0
  }
  50% {
      -ms-filter: none;
      -webkit-filter: none;
      filter: none;
      opacity: 1;
      top: -10px
  }
  to {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
      filter: alpha(opacity=40);
      opacity: .4;
      top: 0
  }
}

/* videos */
.video {
  font-size: 120%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 20px;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

  .container-padding {
    padding: 60px 0;
  }
}

/* hero */
.hero {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.image-bg {
  width: 100%;
  height: auto;
  filter: sepia(.5) contrast(1.4);
  mix-blend-mode: luminosity;
}

.header {
  font-family: 'Permanent Marker', sans-serif;
  z-index: 1;
  text-align: center;
  color:#FFF;
  width: 100%;
  background: rgba(0,0,0,0.38);
  margin: 0 auto;

  .site-title {
    font-size: 50px;
    display: block;
    line-height: 1;
    color: #FFF;

    @media only screen and (min-width:$screen-sm) {
      margin: 0;
      font-size: 76px;
    }
  }

  .logo {
    width: 50%;
    height: auto;
    max-width: none;
    
    @media only screen and (max-width: $screen-lg) {
      max-width: 600px;
    }

    @media only screen and (max-width: $screen-sm) {
      width: 5em;
    }
  }

  .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #FFF;
    margin-top: 10px;

    @media only screen and (min-width:$screen-sm){
      font-size: 34px;
    }
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;

  a {
    outline: 0 !important;
    border: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;

    padding: none;
    margin: none;
  }

  .icon {
    text-align: center;
    color: #FFF;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: all .5s;

    &:hover {
      color: $main;
      background: #FFF;
    }

    &:active {
      color: $main;
      background: #FFF;
    }

    @media only screen and (min-width:$screen-sm) {
      width: 30px;
      height: 30px;
      font-size: 30px;
      line-height: 30px;
    }
  }
}

